/* Fullscreen image */
.full-banner {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  display: block;
  margin: 0;
  padding: 0;
}


/* Header layout override */
.site-header .wrapper {
  display: flex!important;
  justify-content: space-between!important;
  align-items: center!important;
  
  width: 100% !important;
  margin: 0 auto !important;

  padding-left: 0 !important;
  padding-right: 0 !important;
  max-width: 100% !important;


  background-color: rgba(65, 92, 224, 0.05) !important;
  backdrop-filter: saturate(180%) blur(10px);
  position: fixed!important;
  top: 0;
  z-index: 9999;

  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.site-header, .site-header .wrapper {
  max-width: 100% !important;
  box-sizing: border-box;
  border-top: none !important;
  box-shadow: none !important;
}

/* Remove default margin from site title */
.site-title {
  margin: 0 !important;
  font-weight: bold;
  font-size: 3.0rem; 
}

.site-nav {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
  padding-left: 2rem;
  margin: 0;
}

/* Horizontal navigation */
.site-nav ul {
  display: flex;      /* make it flex container */
  justify-content: flex-end;  /* push items right */
  gap: 1.5rem;
  flex-grow: 1;
  gap: 1.5rem;
  list-style: none;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  flex-shrink: 0 !important;
  font-size: 1.75rem; 
  max-width: 100% !important;
}

.site-nav a {
  text-decoration: none;
  color: black;
  padding-left: 1.5rem;
  font-weight: 500;
  
}
