<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}" />
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap" rel="stylesheet">
  </head>
  <script>
  document.addEventListener("DOMContentLoaded", function () {
    const header = document.querySelector(".site-header");

    // Shrink on scroll
    function checkScroll() {
      if (window.scrollY > 50) {
        header.classList.add("shrink");
      } else {
        header.classList.remove("shrink");
      }
    }

    // Apply initial shrink based on front matter flag
    {% if page.shrink_header %}
    header.classList.add("shrink");
    {% endif %}

    window.addEventListener("scroll", checkScroll);
  });
</script>
  <body>
  {% include header.html %}
  {{ content }}
  {% include footer.html %}
  </body>
</html>
